.player-inventory {
  margin: 5px;
}

.player-crafting {
  margin: 5px;
}

.player-result {
  margin: 5px;
}

.display-container {
  display: flex;
  flex-direction: row;
}

.player-display {
  margin: 5px;
}

.market-container {
  display: flex;
  flex-direction: row;
}

.market-container > * {
  opacity: 0.5;
  width: 10px;
  pointer-events: none;
}
.market-container > *:first-child {
  opacity: 1.0;
  flex: 1;
  pointer-events: auto;
}
