.itemcontainer {
  background: none;
  border: 1px dashed black;
}

.itemcontainer-title {
  fill: black;
  font-family: sans-serif;
  font-size: 14px;

  text-anchor: start;
}

.itemslot {
  fill: lightgray;
  opacity: 1;
  outline: 1px solid black;
}

.itemslot.select {
  opacity: 0.5;
}

.itemstack {
  pointer-events: none;
}

.itemstack-item {
  fill: dodgerblue;
}

.itemstack-size {
  fill: white;
  font-family: sans-serif;
  font-size: 12px;

  text-anchor: end;
  alignment-baseline: auto;
}
