.itemcontainer {
  background: none;
}

.itemcontainer-title {
  fill: black;
  font-family: sans-serif;
  font-size: 14px;

  text-anchor: start;
}

.itemslot {
  fill: lightgray;
  opacity: 0;
  outline: 1px solid black;
  outline-offset: -1px;
}

.itemslot:hover {
  opacity: 1;
}

.itemstack {
  pointer-events: none;
}

.itemstack-item {
  fill: dodgerblue;
}

.itemstack-size {
  fill: white;
  font-family: sans-serif;
  font-size: 12px;

  text-anchor: end;
  alignment-baseline: auto;
}
