.dialogue-container {
  padding: 5px;
  outline: 1px dashed black;
  overflow: hidden;
  overflow-y: auto;

  max-width: 300px;
  max-height: 300px;
}

.dialogue-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.dialogue-items > * {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px dashed black;
}

.dialogue-items > *:last-child {
  border-bottom: none;
}

.dialogue-item-value {
  font-family: sans-serif;
  font-size: 20px;

  padding-right: 5px;
  margin-left: auto;
  margin-top: auto;
}

.dialogue-total-container {
  display: flex;
  flex-direction: column;
}
.dialogue-total-value {
  font-family: sans-serif;
  font-size: 20px;

  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
}

.dialogue-option {
  font-family: sans-serif;
  font-size: 20px;

  background: white;
  border: 1px solid black;
  margin: 5px;
  outline: none;
}

.dialogue-option:hover {
  background: lightgray;
}
